---
author: Marco Martin
created_at: 2018-08-20 14:49:06 UTC
date: "2018-08-20T00:00:00Z"
title: Akademy 2018
---
<p>The time for Akademy came this year as well, this year it was in the gorgeous Vienna, Austria.<br />
This year marks my 10th Akademy in a row, starting from my first one in Belgium in 2008.<br />
Talks have been awesome as usual, but what&#8217;s always awesome for me year by year is all the face to face conversation with so much diverse and smart people in out awesome KDE community.<br />
<a href="https://notmart.org/blog/wp-content/uploads/2018/08/akademy2018-groupphoto.jpg"><img src="/img/cache/_img_cache_https:__notmart.org_blog_wp-content_uploads_2018_08_akademy2018-groupphoto-300x129.jpg" alt="" width="300" height="129" class="aligncenter size-medium wp-image-6618" srcset="/img/cache/_img_cache_https:__notmart.org_blog_wp-content_uploads_2018_08_akademy2018-groupphoto-300x129.jpg 300w, https://notmart.org/blog/wp-content/uploads/2018/08/akademy2018-groupphoto-768x330.jpg 768w, https://notmart.org/blog/wp-content/uploads/2018/08/akademy2018-groupphoto-1024x440.jpg 1024w, https://notmart.org/blog/wp-content/uploads/2018/08/akademy2018-groupphoto-624x268.jpg 624w" sizes="(max-width: 300px) 100vw, 300px" /></a></p>
<h4>Kirigami</h4>
<p>For me the highlight was the BOF session on Kirigami, in which some nice plans, together the VDG are starting to form.<br />
Kirigami in a QML based UI framework at the core of some KDE applications, which will become more and more central as more and more QML based applications are made.<br />
So far is still a relatively unknown gem in the KE software and frameworks offering, however as technologically is starting to mature, we&#8217;ll start to advertise it more and simplify onboarding.<br />
A big part of that will be about web presence and documentation:</p>
<ul>
<li>A nice media-heavy introductory website which will showcase the features it can offer to your app, together expanded sections of the central Kirigami UX patterns in the new <a href="https://hig.kde.org/">Human Interface Guidelines</a> website.</li>
<li>Improving the API documentation</li>
<li>The <a href="https://telegram.me/joinchat/BbOuVj6l7b5aZ_WbupyFFw">Kirigami channel on Telegram</a> will need IRC and Matrix bridges</li>
<li>A series of tutorials how to get started developing applications using the Kirigami toolkit</li>
<li>Repurpose the example &#8220;Kirigami Gallery&#8221; application: It will become a showcase of components and UI patterns the developer is recommended to use: each gallery page will also have documentation text together links to the corresponding HIG page and to the gallery page sourcecode itself, to be used as a source of inpiration and best practiches to be used while developing your application</li>
</ul>
<p><div id="attachment_6621" style="width: 210px" class="wp-caption aligncenter"><a href="https://notmart.org/blog/wp-content/uploads/2018/08/Spectacle.X26562.png"><img aria-describedby="caption-attachment-6621" src="https://notmart.org/blog/wp-content/uploads/2018/08/Spectacle.X26562-200x300.png" alt="" width="200" height="300" class="size-medium wp-image-6621" srcset="https://notmart.org/blog/wp-content/uploads/2018/08/Spectacle.X26562-200x300.png 200w, https://notmart.org/blog/wp-content/uploads/2018/08/Spectacle.X26562.png 420w" sizes="(max-width: 200px) 100vw, 200px" /></a><p id="caption-attachment-6621" class="wp-caption-text">Kirigami Gallery on the Cards pattern, mobile version</p></div><div id="attachment_6622" style="width: 310px" class="wp-caption aligncenter"><a href="https://notmart.org/blog/wp-content/uploads/2018/08/Spectacle.r26562.png"><img aria-describedby="caption-attachment-6622" src="https://notmart.org/blog/wp-content/uploads/2018/08/Spectacle.r26562-300x232.png" alt="" width="300" height="232" class="size-medium wp-image-6622" srcset="https://notmart.org/blog/wp-content/uploads/2018/08/Spectacle.r26562-300x232.png 300w, https://notmart.org/blog/wp-content/uploads/2018/08/Spectacle.r26562-768x595.png 768w, https://notmart.org/blog/wp-content/uploads/2018/08/Spectacle.r26562-624x483.png 624w, https://notmart.org/blog/wp-content/uploads/2018/08/Spectacle.r26562.png 807w" sizes="(max-width: 300px) 100vw, 300px" /></a><p id="caption-attachment-6622" class="wp-caption-text">Kirigami Gallery on the Cards pattern, desktop version</p></div></p>
<p>If you think you can help on this web presence effort, you are welcome to join <img src="/img/cache/_img_cache_https:__s.w.org_images_core_emoji_12.0.0-1_72x72_1f642.png" alt="🙂" class="wp-smiley" style="height: 1em; max-height: 1em;" /></p>
<h4>Plasma</h4>
<p>On the Plasma side, many plans of improvement have been discussed and are on their ways, such as better support for touch-based convertible laptops, a completely rewritten and overhauled notification system, and improved Virtual Desktops/Activities infrastructure and UI, on Wayland too.<br />
But, more on all of this in the future <img src="/img/cache/_img_cache_https:__s.w.org_images_core_emoji_12.0.0-1_72x72_1f642.png" alt="🙂" class="wp-smiley" style="height: 1em; max-height: 1em;" /></p>
<h4>Vienna</h4>
<p>Vienna is a really charming and beautiful city, I would totally recommend going there at least once.<br />
<a href="https://notmart.org/blog/wp-content/uploads/2018/08/IMG_20180816_192510.jpg"><img src="/img/cache/_img_cache_https:__notmart.org_blog_wp-content_uploads_2018_08_IMG_20180816_192510-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-6624" srcset="/img/cache/_img_cache_https:__notmart.org_blog_wp-content_uploads_2018_08_IMG_20180816_192510-300x225.jpg 300w, https://notmart.org/blog/wp-content/uploads/2018/08/IMG_20180816_192510-768x576.jpg 768w, https://notmart.org/blog/wp-content/uploads/2018/08/IMG_20180816_192510-1024x768.jpg 1024w, https://notmart.org/blog/wp-content/uploads/2018/08/IMG_20180816_192510-624x468.jpg 624w" sizes="(max-width: 300px) 100vw, 300px" /></a><br />
<a href="https://notmart.org/blog/wp-content/uploads/2018/08/IMG_20180811_214908.jpg"><img src="/img/cache/_img_cache_https:__notmart.org_blog_wp-content_uploads_2018_08_IMG_20180811_214908-300x225.jpg" alt="" width="300" height="225" class="aligncenter size-medium wp-image-6630" srcset="/img/cache/_img_cache_https:__notmart.org_blog_wp-content_uploads_2018_08_IMG_20180811_214908-300x225.jpg 300w, https://notmart.org/blog/wp-content/uploads/2018/08/IMG_20180811_214908-768x576.jpg 768w, https://notmart.org/blog/wp-content/uploads/2018/08/IMG_20180811_214908-1024x768.jpg 1024w, https://notmart.org/blog/wp-content/uploads/2018/08/IMG_20180811_214908-624x468.jpg 624w" sizes="(max-width: 300px) 100vw, 300px" /></a><br />
It&#8217;s home not only to great musician in the past:<br />
<div id="attachment_6625" style="width: 235px" class="wp-caption aligncenter"><a href="https://notmart.org/blog/wp-content/uploads/2018/08/IMG_20180816_192042.jpg"><img aria-describedby="caption-attachment-6625" src="https://notmart.org/blog/wp-content/uploads/2018/08/IMG_20180816_192042-225x300.jpg" alt="" width="225" height="300" class="size-medium wp-image-6625" srcset="https://notmart.org/blog/wp-content/uploads/2018/08/IMG_20180816_192042-225x300.jpg 225w, https://notmart.org/blog/wp-content/uploads/2018/08/IMG_20180816_192042-768x1024.jpg 768w, https://notmart.org/blog/wp-content/uploads/2018/08/IMG_20180816_192042-624x832.jpg 624w" sizes="(max-width: 225px) 100vw, 225px" /></a><p id="caption-attachment-6625" class="wp-caption-text">Mozart</p></div><br />
But also to Important scientists that contributed so much to the knowledge of humanity and.. contributed a littel bit making possible all the technology we know and love <img src="/img/cache/_img_cache_https:__s.w.org_images_core_emoji_12.0.0-1_72x72_1f642.png" alt="🙂" class="wp-smiley" style="height: 1em; max-height: 1em;" /><br />
<a href="https://notmart.org/blog/wp-content/uploads/2018/08/IMG_20180816_200158.jpg"><img src="/img/cache/_img_cache_https:__notmart.org_blog_wp-content_uploads_2018_08_IMG_20180816_200158-225x300.jpg" alt="" width="225" height="300" class="aligncenter size-medium wp-image-6626" srcset="/img/cache/_img_cache_https:__notmart.org_blog_wp-content_uploads_2018_08_IMG_20180816_200158-225x300.jpg 225w, https://notmart.org/blog/wp-content/uploads/2018/08/IMG_20180816_200158-768x1024.jpg 768w, https://notmart.org/blog/wp-content/uploads/2018/08/IMG_20180816_200158-624x832.jpg 624w" sizes="(max-width: 225px) 100vw, 225px" /></a><div id="attachment_6627" style="width: 235px" class="wp-caption aligncenter"><a href="https://notmart.org/blog/wp-content/uploads/2018/08/IMG_20180816_200209.jpg"><img aria-describedby="caption-attachment-6627" src="https://notmart.org/blog/wp-content/uploads/2018/08/IMG_20180816_200209-225x300.jpg" alt="" width="225" height="300" class="size-medium wp-image-6627" srcset="https://notmart.org/blog/wp-content/uploads/2018/08/IMG_20180816_200209-225x300.jpg 225w, https://notmart.org/blog/wp-content/uploads/2018/08/IMG_20180816_200209-768x1024.jpg 768w, https://notmart.org/blog/wp-content/uploads/2018/08/IMG_20180816_200209-624x832.jpg 624w" sizes="(max-width: 225px) 100vw, 225px" /></a><p id="caption-attachment-6627" class="wp-caption-text">Meow!</p></div></p>