---
author: Bhushan Shah
created_at: 2019-12-20 17:40:00 UTC
date: "2019-12-20T00:00:00Z"
title: Plasma Mobile as Daily Driver on PinePhone
---
<p>Last week I was in Bluesystems GmbH meeting in Germany, almost 7000 km away from home. While one would hope that this journey is smooth, of-course this was not case for my journey. I missed my phone in first segment of journey (which now is on route to my home as I write). In 4 hours of layover I tried to retrieve my phone but unfortunately it was already with Lost and Found team and getting that would require me going through immigration etc. Thankfuly I had a LG Nexus 5X which I generally use to test out Plasma Mobile builds, In hurry I flashed LineageOS on it and downloaded some basic applications I needed on it. In second lag of journey I spent time copying some of required documents and files to mobile device.</p>

<p>Fast-forward 2 days, my Nexus 5X decided that it is time to give up. After turning off screen, it won’t turn back on. I tried charging it for few hours but no luck. I did not need mobile while I was in meeting, since I was having meeting and stay at same place. I was able to communicate with my family and friends over telegram. But when I needed to travel back home, I realized while I can survive without mobile device, it won’t be largely fun.</p>

<h2 id="preparing-pinephone">Preparing PinePhone</h2>

<p>While I had no android device with me, I had a PinePhone developer prototype<sup id="fnref:1"><a href="#fn:1" class="footnote">1</a></sup>, which can run Plasma Mobile among others! So I decided to see if I can make use of Plasma Mobile while traveling back? My use-case was in general very limited,</p>

<ul>
  <li>Minor web browsing</li>
  <li>Hotel check-in</li>
  <li>Boarding train and flights</li>
  <li>Searching for public transport options</li>
  <li>Communication</li>
</ul>

<p>I generally don’t use my SIM cards abroad due to high international roaming charges so I didn’t need working calls yet. So with absolute minimal requirement in mind I started setting up my pinephone.</p>

<h3 id="web-browsing">Web browsing</h3>

<p>Plasma Mobile have a Angelfish web browser, which is using QtWebengine and Kirigami user interface. Out of the box the QtWebengine doesn’t work with Mali400-MP2 being used in the PinePhone, however internally chromium manages the workarounds specific to graphics drivers. One such workaround is available already for the Mali400, however it is tested only with binary driver released by Allwinner, and not opensource Lima driver. So we needed to adjust the workaround to match opensource lima driver as well.</p>
<div class="highlighter-rouge"><pre class="highlight"><code><span class="gd">--- qtwebengine-everywhere-src-5.13.2/src/3rdparty/chromium/gpu/config/gpu_driver_bug_list.json 2019-08-09 21:46:06.000000000 +0800
</span><span class="gi">+++ qtwebengine-everywhere-src-5.13.2.new/src/3rdparty/chromium/gpu/config/gpu_driver_bug_list.json     2019-12-03 23:49:02.230915250 +0800
</span><span class="gu">@@ -908,8 +908,7 @@
</span>       "id": 108,
       "cr_bugs": [449150],
       "description": "Mali-4xx does not support GL_RGB format",
<span class="gd">-      "gl_vendor": "ARM.*",
-      "gl_renderer": ".*Mali-4.*",
</span><span class="gi">+      "gl_renderer": ".*Mali-*4.*",
</span>       "features": [
         "disable_gl_rgb_format"
       ]

</code></pre>
</div>
<p>This patch allows one to browse web using angelfish.</p>

<h3 id="hotel-check-in-and-boarding-trainflights">Hotel check-in and Boarding train/flights</h3>

<p>I was staying in Frankfurt for one day since my flight was early morning next day. So I needed to check in the hotel and also board two trains to reach Frankfurt. While I had paper copy of the bookings with me, using them is boring! <em>wink</em></p>

<p>I decided to use the <a href="https://invent.kde.org/kde/itinerary">itinerary application</a> for checking in the hotel and traveling on trains. Itinerary allows you to import and manage various bookings and boarding passes. While I managed to import the booking for my hotel, I had trouble importing booking for train and my flight’s boarding passes. Investigation of the issue showed that itinerary was not built in neon with zxing-cpp dependency. zxing-cpp allows to scan and decode various types of barcodes and QR codes; Which are commonly used in Flight and Train boarding passes.</p>

<p><a href="https://packaging.neon.kde.org/kde/kitinerary.git/commit/?h=Neon/unstable&amp;id=2ba0e954405e46ab95166eda6c1d5630d2527b32">Adding zxing-cpp dependency</a> in kitinerary package solved issue and I was able to import all my boarding passes. After importing them I was able to use them at most places without any problem<sup id="fnref:2"><a href="#fn:2" class="footnote">2</a></sup>.</p>

<h3 id="searching-for-public-transport-options">Searching for public transport options</h3>

<p>I needed to search for public transportation while in Frankfurt. I used <a href="https://invent.kde.org/kde/ktrip">ktrip application</a> to find my way around the Frankfurt, in general it is quite easy to use,</p>

<ol>
  <li>Enter your start point and end point</li>
  <li>Enter the time you want to depart at</li>
  <li>Find connections!</li>
</ol>

<p>While I can make use of the maps at train station and bus station as well, Being able to get this information directly from your mobile device was quite useful.</p>

<h3 id="communication">Communication</h3>

<p>During travel I was able to connect with friends, family and colleagues using Telegram messanger, I was able to easily install it using Discover software center. Since I was on KDE Neon, which have it’s own Qt packages I decided to use the version from flathub. While telegram itself worked flowlessly, I had minor annoying issue that if someone sends <a href="https://telegram.org/blog/animated-stickers">animated sticker</a> in chat, my Telegram application would crash opening that chat. I haven’t investigated issue further, but it could be bug in telegram or issue with graphics driver, it is hard to tell at moment. While I only wanted to use the Telegram, one can use Kaidan for XMPP and Spectral for Matrix chats as well.</p>

<h2 id="conclusion">Conclusion</h2>

<p>Overall it was much smoother experience to use the Plasma Mobile as a <em>daily driver</em>. I realized that while it is definitely not ready for the average user, there are variouse areas where we can improve most and make a impact.</p>

<ul>
  <li>Working calls: This is absolute must for using daily driver. I hope that we can solve audio routing issues on Pinephone soon.</li>
  <li>Power management: Currently in case of Plasma Mobile, operating system is not optimized for this at all. It is definitely a new horizon for us and we can do lot there.</li>
  <li>User interface responsiveness: I realized that there are lot of places where we can improve the general responsiveness of user interface and application</li>
  <li>More applications: While my usecase was quite limited in terms of what I wanted to do with my phone, I am sure people have very different usecases of their phone and that includes lot more applications then we have currently.</li>
</ul>

<p>While this blog post is focused on my usage of software on Pine64 PinePhone, If you are looking for hardware review, you can take a look at <a href="https://tuxphones.com/yet-another-librem-5-and-pinephone-linux-smartphone-comparison/">post by Martijn Braam</a> comparing the Librem 5 and PinePhone hardware. That provides much more detail on hardware of PinePhone.</p>

<p>If you are excited about Linux smartphones and want to help us progressing Plasma Mobile forward, you can reach us at #plasmamobile:kde.org matrix room.</p>

<div class="footnotes">
  <ol>
    <li id="fn:1">
      <p>I would like to thank Pine64 for sending Pinephone prototype to me.&nbsp;<a href="#fnref:1" class="reversefootnote">&#8617;</a></p>
    </li>
    <li id="fn:2">
      <p>I had a minor trouble at first Etihad flight where they wanted to see boarding sequence number, which is not shown in the boarding pass page of itinerary. I have forwarded that bug to itinerary devs so that will be solved!&nbsp;<a href="#fnref:2" class="reversefootnote">&#8617;</a></p>
    </li>
  </ol>
</div>