// SPDX-FileCopyrightText: 2022 Devin Lin <devin@kde.org>
// SPDX-License-Identifier: CC0-1.0 

@font-face {
  font-family: 'Noto Sans Light';
  src: url(/fonts/NotoSans-Light.ttf);
}

@font-face {
  font-family: 'Noto Sans Medium';
  src: url(/fonts/NotoSans-Medium.ttf);
}

h1 {
  font-family: 'Noto Sans Light', sans-serif;
  font-weight: 300;
  font-size: 32px;
}

h2 {
  font-family: 'Noto Sans Light', sans-serif;
  font-weight: 300;
  font-size: 28px;
  line-height: 2;
}

h3 {
  font-family: 'Noto Sans Medium', sans-serif;
  font-size: 22px;
}

h4 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
}

h5 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
}

h6 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}
